* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-navbar {
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.top-navbar i {
    border: 1px solid black;
    background-color: #9C7A97;
    padding: 8px;
    border-radius: 10%;
    margin-left: 5px;
}

.top-navbar input {
    height: 35px;
    padding: 5px 10px;
    text-decoration: none;
}

#navbar header {
    padding: 30px 0;
    font-weight: bold;
    background-color: ghostwhite;
    font-size: 2em;
}

#navbar {
    text-align: center;
    height: 100%;
    background-color: #028090;
    border: 2px solid black;
}

#navbar ul {
    max-height: 250px;
    overflow: scroll;
}

#navbar li {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

#navbar a {
    text-decoration: none;
    font-size: 1.2em;
    color: ghostwhite;
    padding: 10px 20px;
}

#navbar li:hover  {
    background-color: black;
    cursor: pointer;
}

#main-doc {
    padding: 30px 20px;
}

.main-section {
    margin-bottom: 30px;
}

.main-section header{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5em;
}

.main-section p {
    line-height: 1.5;
}
.main-section ol{
    margin-top: 15px;
    margin-left: 2em;
    font-size: 0.85em;
}

.main-section li {
    margin-bottom: 5px;
}

code {
    background-color: #7EA2AA;
    color: ghostwhite;
    line-height: 2;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    word-wrap: normal;
    word-break: normal;
    display: block;
}

#bottom-pagenav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    padding: 20px 0;
    text-align: center;
    background-color: #303633;
    color: ghostwhite;
}

@media (min-width: 820px) {

    #navbar header{
        margin-bottom: 70px;
    }

    #navbar {
        left: 0;
        top: 0;
        width: 30%;
        position: fixed;
        height: 88%;
    }

    #navbar ul {
        max-height: 68%;
    }

    #main-doc {
        width: 70%;
        position: absolute;
        right: 0;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}